body {
    max-width: 800px;
    margin: 0 auto;
}

.edit {
    position: absolute;
    right: 100%;
}

.edit:focus {
    position: inherit;
}

.edit + label {
    cursor: pointer;
}

.edit:focus + label {
    display: none;
}

.edit-pencil {
    display: inline-block;
    transform: rotate(90deg);
}

